.ChatRow {
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.15);
}


#userCol{
  background: tomato;
  

  display: grid;





  grid-template-rows: 20% 80%;




}




#contentBox{
 display: table-cell;
}

#lichat { 
  list-style-type: none
}
.MessageBox {
  padding-bottom: 3rem;
  font-family: Roboto, Helvetica, Arial, sans-serif; 
  position: relative;
}


.MessageTextInput {
  background: rgba(0, 0, 0, 0.15);
  padding : 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
